{
    "parser": "babel-eslint",
    "extends": ["plugin:react/recommended", "prettier"],
    "plugins": ["react", "prettier"],
    "rules": {
        "prettier/prettier": "error"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
